* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
}

html {
    font-size: 10px;
}

/* Title Screen and Game Container */

#title-screen, #game-container{
    width: 380px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
}

/* Title Screen */

/*
#title-screen {
    animation: title-screen-fade 3s ease-in-out 3s both; 
}
*/


#title-screen h1 {
    font-family: "Major Mono Display", monospace;
    margin-bottom: 8px;
    font-size: 3.6rem;
    font-weight: 700;
}

#title-screen h2 {
    font-family: "Victor Mono", monospace;
    font-size: 2.4rem;
}

#title-screen button, #text-box button {
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
    display: none;
    margin: 20px auto 0;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 2.0rem;
    /* transition: all 100ms ease-in-out; */ /* no transitions for mobile */
}

#title-screen button:hover, #text-box button:hover {
    color: white;
    background-color: black;
    /* transform: scale(1.3);
    transition: all 200ms ease-in-out; */
}


/* The game styles */

/* game container */
#game-container {
    display: none;
}



/* in game text */
p {
    font-size: 1.4rem;
}

/* animations */

@keyframes title-screen-fade {
    0% {
        opacity: 0%;
    }   

    100% {
        opacity: 100%;
    }
}

/* images */
#img-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-container {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    margin: auto;
}

#enemy-img-container {
    display: none;
}

/* text box */
#text-box {
    width: 90%;
    text-align: center;
    margin: auto;
}

#text-box button {
    display: block;
    margin: 5px auto;
    font-size: 1.4rem;
    border-width: 1px;
}

/* stat points */
label[for="player-name"] {
    font-size: 1.4rem;
    display: inline;
}

label[for="player-name"] input {
    width: 30%;
    display: inline;
}

#initial-stat-dist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px auto;
    padding: 20px;
    align-items: center;
    justify-items: center;
    row-gap: 2px;
}

#initial-stat-dist label {
    font-size: 1.1rem;
}

#initial-stat-dist input {
    width: 50%;
}
